<html>
<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>{{title}}</h1>

  {{#times}}
  <div class="clock">
    <span>{{timezone}}</span> &emsp; &emsp; 
    <span>{{time}}</span>
    <span>{{date}}</span>
  </div>
  {{/times}}

</body>

</html>